@using AgendaTelefonica.Core.Application.ViewModels.User;
@model SaveUserViewModel
@{
    bool IsEditing = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar producto";
}




<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <h3 class="color--white mb-5">Agenda de Contactos</h3>

                <ul class="contact-info__list list-style--none position-relative z-index-101">
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-envelope"></i></span> victoresleikerdiazsantana@gmail.com
                    </li>
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-phone"></i></span> (809)-000-0000
                    </li>
                    <li class="mb-4 pl-4">
                        <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> Esleiker Inc.
                        <br> Santo Domingo Este
                        <br> Los Frailes II

                    </li>
                </ul>

                <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px" height="626px">
                        <defs>
                            <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                                <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                                <stop offset="100%" stop-color="rgb(0,54,207)" stop-opacity="0"></stop>
                            </linearGradient>

                        </defs>
                        <path fill-rule="evenodd" opacity="0.302" fill="rgb(72, 155, 248)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                        <path fill="url(#PSgrad_1)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                    </svg>
                </figure>
            </div>

            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <h2 class="title text-center mb-5 p-1">Añadir nuevo contacto</h2>

                <form method="post" class="contact-form form-validate" asp-controller="User" asp-action="@(IsEditing ? "Edit":"Create")">
                    <div class="row">

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Name" class="form-label">Nombre: </label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="Manuel" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label asp-for="LastName" class="form-label">Apellido: </label>
                                <input type="text" asp-for="LastName" class="form-control" placeholder="Ramirez" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label asp-for="DocumentId" class="form-label">Cedula: </label>
                                <input type="text" asp-for="DocumentId" class="form-control" placeholder="403-565246-1" />
                                <span asp-validation-for="DocumentId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-sm-6 mb-3">
                            <label asp-for="Email" class="form-label">Correo Electronico: </label>
                           <input type="email" step="any" asp-for="Email" class="form-control" />

                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>


                        <div class="col-sm-6 mb-3">
                            <label asp-for="Phone" class="form-label">Numero de telefono: </label>
                            <input type="tel" step="any" asp-for="Phone" class="form-control" placeholder="(829)-454-5457" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>


                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label asp-for="Address" class="form-label">Dirección: </label>
                                <textarea asp-for="Address" class="form-control" rows="4" placeholder="Av. España, Calle Hipica"></textarea>
                            </div>
                        </div>

                        <input type="hidden" asp-for="Id" />


                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                            <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver atras</a>

                        </div>

                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->

        </div>
    </div>
</div>



@*<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(IsEditing ? $"Editando el Usuario: {Model.Name}" : "Creando un nuevo usuario")</h4>
                </div>
                <div class="card-body">


                    <form method="post" asp-controller="User" asp-action="@(IsEditing ? "Edit":"Create")">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Apellido: </label>
                            <input type="text" asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DocumentId" class="form-label">Cedula: </label>
                            <input type="text" asp-for="DocumentId" class="form-control" />
                            <span asp-validation-for="DocumentId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Address" class="form-label">Dirección: </label>
                            <textarea asp-for="Address" class="form-control"></textarea>
                        </div>


                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Numero de telefono: </label>
                            <input type="tel" step="any" asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo Electronico: </label>
                            <input type="email" step="any" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver atras</a>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>

*@